$sm: 420px;
$md: 680px;
$lg: 1280px;
$xl: 1600px;
$logo-size-sm: 26px;
$logo-size-md: 42px;
$logo-size-lg: 58px;
$logo-size-xl: 74px;

$layout-p-sm: 20px;
$layout-p-lg: 25px;
$layout-p-xl: 30px;

$main-color: #f4fffa;

$left-layout-padding: calc($logo-size-sm + 2*$layout-p-sm);